<div class="container" xmlns="http://www.w3.org/1999/html">
<div class="column">
  <div class="col-sm">
    <img alt="Butterfly Gif by ngochan192 on DeviantArt" class="n3VNCb" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ecd6b3ae-5f23-4773-aa4c-a5ff163d09f1/ddapzle-c7909979-452f-44b2-a03e-d206fcf49d3b.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2VjZDZiM2FlLTVmMjMtNDc3My1hYTRjLWE1ZmYxNjNkMDlmMVwvZGRhcHpsZS1jNzkwOTk3OS00NTJmLTQ0YjItYTAzZS1kMjA2ZmNmNDlkM2IuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.tUW28NtzW4-4x1_ajMeVKUJT3nYgSTbSlnW4u_n6xTo" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 100px; height: 100px; margin: 0px;">
  </div>
  <div class="col-sm">
    <label for="clock"></label>

    <input type="time" id="clock" name="clock"
           min="09:00" max="18:00" required>

  </div>
  <div class="col-sm">
    <button type="button" class="btn btn-outline-warning">Print Time</button>
  </div>
</div>
</div>
